.nav-item {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
    align-items: center;
}

.nav-icon-container {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    border-radius: 999px;
    display: grid;
    place-items: center;
}

.nav-icon {
    width: 2rem;
    height: 2rem;
}

.nav-title {
    cursor: pointer;
    margin-top: 3px;
}

.nav-icon-container.active
{
    background-color: #FFC107;
}