.container
{
    display: flex;
    flex-direction: column;
}

.options
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.left-section
{
    display: flex;
    position: relative;
}
.selected-options
{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}