.container {
    display: flex;
    flex-direction: column;
}

.page-title {
    font-size: 2rem;
    align-self: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.stat
{
    align-self: flex-end;
    font-weight: 500;
    margin-bottom: 20px;
}