.container
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 50px;
}


.button {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 999px;
    display: grid;
    color: rgb(20, 57, 222);
    font-weight: 500;
    place-items: center;
    cursor: pointer;
    transition: 80ms;
}

.button:hover {
    background-color: rgb(20, 57, 222);
    color: white;
}

.button.hidden {
    visibility: hidden;
}

.button.active {
    background-color: rgb(20, 57, 222);
    color: white;
}
