.container
{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    box-shadow: 1px 1px 4px 0 rgba(183, 183, 183, 0.484);
    padding: 20px;
    border-radius: 6px;
    align-self: center;
    margin-bottom: 30px;
}

.container label
{
    font-weight: 500;
}

.search-bar
{
    display: flex;
    margin-top: 10px;
    justify-content: center;
}


.search-icon-container
{
    width: 3rem;
    height: 3rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-right: 10px;
    display: grid;
    box-shadow: 1px 1px 5px 0 rgba(171, 171, 171, 0.484);
    place-items: center;
}

.search-icon-container:hover
{
    background-color: rgb(230, 230, 230);
}


.search-icon-container:active
{
    background-color: rgb(220, 220, 220);
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
}

.search-input
{
    padding: 10px;
    font-size: 1rem;
    border-radius: 10px;
    min-width: 500px;
    border: 1px solid rgb(216, 216, 216);
}

.search-input:focus
{
    border: 1px solid rgb(0, 0, 196);
    outline: 1px solid rgb(0, 0, 196);
}